@import 'src/root';

.topPadding {
    height: 8rem;
}

.masterContainer {
    display: flex;
    justify-content: center;

    margin-bottom: 10rem;
}

.article {
    display: grid;
    max-width: 65rem;
    width: 90%;
}

.textSection.header {
    margin-bottom: 5rem;
}

.header h1 {
    margin-bottom: 2rem;
}

.headerTop {
    display: flex;
}

@media(min-width: 20rem) {
    .headerTop {
        display: grid;
        grid-template-columns: 1fr max-content;
    }
}

.date {
    font-style: italic;
}

.textSection {
    position: relative;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
    grid-column-gap: 0;
    grid-template-columns: 1fr min-content;
}

.mainText {
    text-align: left;
    margin: auto;
    width: 80%;
    line-height: 1.75rem;
}

.mainText h3 {
    margin-bottom: 0.5rem;
    font-family: 'Quantico', sans-serif;
    color: $color-background-dark;
}

.mainText p {
    margin-top: 1rem;
}

.imageContainer {
    grid-column: 1;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
}

.textImage {
    justify-self: center;
    max-width: 20rem;
    width: 80%;
    max-height: 15rem;
    object-fit: contain;

    margin-top: 2rem;
}

@media (min-width: 30rem) {
    .mainText {
        margin: auto;
        width: 80%;
    }
}

@media (min-width: 50rem) {
    .mainText h3 {
        font-size: 1.5rem;
    }
    .mainText p {
        font-size: 1rem;
    }

    .textImage {
        max-width: 40rem;
        width: 100%;
        max-height: 15rem;
    }
}

.aside {
    display: none;
    width: 15rem;
    margin-top: 1rem;
}

.aside h4 {
    color: $color-text-third;
    margin-bottom: 0.2rem;
}

.aside p {
    font-size: 1rem;
}

.asideSection {
    margin-bottom: 0.75rem;
}

.link {
    color: $color-background-dark !important;
    font-weight: 500;
}
.link:hover {
    color: $color-primary-hover !important;
}

@media (min-width: 70rem) {
    .aside {
        display: block;
    }
}