@import 'src/root';

.introContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 5rem 0;
}

.aside {
    display: none;
    position: relative;
    width: 650px;
    height: 350px;
}

.fullname {
    margin-bottom: 0.5rem;
    mix-blend-mode: difference;
    color: #bbb;
}

.slogan {
    mix-blend-mode: difference;
    color: #bbb;
}

.textContainer {
    position: relative;
    bottom: 2rem;
}

@media (min-width: $media-min-middle-view) {
    .introContainer {
        display: grid;
        grid-template-columns: 22rem min-content;
        grid-column-gap: 2rem;
        margin: 0 5rem;
        height: 15rem;

        margin: 4rem auto;
        margin-top: 5rem;

        max-width: 80rem;
    }
}

@media (min-width: $media-min-desktop-view) {
    .introContainer {
        height: 30rem;
    }
    .aside {
        display: block;
    }
}