@import 'src/root';

.footer {
    border-top: $color-background-footer;
    border-top-width: 1px;
    border-top-style: solid;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    padding: 1rem 4rem;
    background-color: $color-background-medium;
}

.footer h4,
.footer p {
    color: $color-text-primary;
    margin-bottom: 0.25rem;
}

.socialMedia {
    display: grid;
    justify-content: center;

    margin-bottom: 1rem;
}

.socialMedia h4 {
    margin-bottom: 0.5rem;
}

.socialMedia ul {
    padding: 0;
    text-align: center;
}
.socialMedia ul a {
    color: $color-text-primary;
    margin-bottom: 0.25rem;
}

.copyright {
    margin-bottom: 0;
    font-style: italic;
}
.copyright p {
    text-align: center;
}