@import 'src/root';

.imageContainer {
    background-color: transparent;
    background-repeat: repeat-x;
    background-size: 100rem;
    background-position: -12rem 0rem;

    height: 10rem;
    max-height: 10rem;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;

    height: 3em;    
}

nav {
    display: flex;
    justify-content: center;
    max-width: 20rem;
}

.navLink {
    margin: 0 1em;
}

.navLink a {
    color: $color-text-secondary;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.navLink a:hover {
    color: $color-text-secondary-hover;
}

.aside {
    justify-self: left;
    display: none;
}
.asideText {
    display: none;
}

@media (min-width: 20rem) {
    .navLink {
        margin: 0 2em;
    }
}

@media (min-width: 30rem) {
    .header {
        grid-template-columns: 1fr 1fr;
    }
    .aside {
        display: block;
    }
    .asideText {
        display: block;
        font-weight: bold;
        color: $color-text-secondary;
        margin: 0;
        margin-left: 1rem;
    }
}