@import 'src/root';

.resize {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    z-index: 1001;
    cursor: w-resize;

    --corner: 10px;
}

.resizeBottom {
    bottom: 0;
    cursor: ns-resize;
}

.resizeBottom_right {
    height: var(--corner);
    width: var(--corner);
    z-index: 1002;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}

.resizeBottom_left {
    height: var(--corner);
    width: var(--corner);
    z-index: 1002;
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.resizeTop {
    top: 0;
    cursor: ns-resize;
}

.resizeTop_right {
    height: var(--corner);
    width: var(--corner);
    z-index: 1002;
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.resizeTop_left {
    height: var(--corner);
    width: var(--corner);
    z-index: 1002;
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.resizeRight {
    height: 100%;
    width: 5px;
    z-index: 1001;
    right: 0;
    cursor: ew-resize;
}

.resizeLeft {
    height: 100%;
    width: 5px;
    z-index: 1001;
    left: 0;
}