---

---

<div class="flex max-w-5xl flex-col justify-center text-center">
  <p class="mb-10 mr-44 text-end text-2xl text-pink-950 sm:text-5xl">
    Hi there! I'm
  </p>
  <div>
    <div class="overflow-hidden animate-fade-in opacity-0">
      <p class="text-3xl font-bold text-pink-950 sm:text-4xl lg:text-6xl">
        Hampus
      </p>
    </div>
    <div class="grid grid-cols-2">
      <div></div>

      <div class="overflow-hidden animate-fade-in-staggered opacity-0">
        <p class="text-5xl font-bold text-pink-950 sm:text-7xl lg:text-8xl">
          Hallkvi.st
        </p>
      </div>
    </div>
  </div>
</div>
