<div
  class="w-full font-mono prose prose-headings:font-mono prose-img:rounded-none prose-p:text-[var(--color-dark)] prose-p:dark:text-[var(--color-light)] prose-a:underline-offset-4 prose-h1:text-2xl prose-a:text-[var(--color-dark)] dark:prose-a:text-[var(--color-light)] prose-headings:text-[var(--color-dark)] prose-headings:dark:text-[var(--color-light)] prose-p:text-justify prose-code:text-[var(--color-dark)] dark:prose-code:text-[var(--color-light)] prose-h2:text-2xl prose-h3:text-xl prose-h4:text-lg prose-h5:text-base prose-h6:text-sm prose-strong:text-[var(--color-dark)] dark:prose-strong:text-[var(--color-light)] prose-li:text-[var(--color-dark)] dark:prose-li:text-[var(--color-light)] prose-ul:marker:text-[var(--color-dark)] prose-ul:dark:marker:text-[var(--color-light)] prose-ol:marker:text-[var(--color-dark)] prose-ol:dark:marker:text-[var(--color-light)] prose-a:offset-[var(--hampfh-offset)] prose-a:focus:outline-2 prose-a:focus:outline-offset-2 prose-a:focus:outline-hampfh-dark prose-a:dark:focus:outline-hampfh-light"
>
  <slot />
</div>
