@import 'src/root';

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textContainer {
    position: relative;
    top: -5rem;
    display: grid;
    justify-content: center;
}

.text {
    text-align: center;
}

.buttonContainer {
    display: grid;
    align-items: center;
    height: 5rem;
    text-align: center;
}

@media (max-height: 20rem) {
    .textContainer {
        top: 0;
    }
}