@import "variables";

* {
    box-sizing: border-box;
    transition: all ease-in-out 100ms;
}
@font-face {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    src: local("Roboto"), url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
    font-display: swap;
}
@font-face {
    font-family: 'Quantico', sans-serif;
    font-style: normal;
    src: local("Quantico"), url('https://fonts.googleapis.com/css?family=Quantico:400,400i,700,700i');
    font-display: swap;
}
body {
    margin: 0;
    background-color: $color-background;
    user-select: none;
    font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5 {
    color: $color-text-primary;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Quantico', sans-serif;
}

p {
    font-size: 1.1rem;
}

a.link {
    color: $color-text-secondary;
    text-decoration: none;
}
a.link:hover {
    color: $color-text-secondary-hover;
}

ul {
    display: grid;
    margin: 0;
}