$color-primary: #60d2d2;
$color-primary-hover: #7cd9d9;
$color-error: #ed5252;
$color-text-primary: #555;
$color-text-secondary: white;
$color-text-secondary-hover: #c3eeee;
$color-text-third: #888;
$color-background: #fff;
$color-background-light: #fff;
$color-background-medium:#f5f7fa;
$color-background-dark: #278b8b;
$color-background-footer: #212121;

// Sizes
$margin-card-small: 1rem;
$margin-card-large: 2rem;

$media-min-middle-view: 40rem;
$media-min-desktop-view: 80rem;
