@import 'src/root';

.container {
    width: 9rem;
    margin: 2rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.logo {
    width: 5rem;
}

.mark {
    width: 2rem;
    margin: 0.5rem;
}