@import 'src/root';

.consoleWindow {
    font-family: 'Ubuntu Mono', monospace;

    --terminalHeight: 32px;

    position: relative;

    border-radius: .3em;

    -webkit-box-shadow: 0 5px 5px 0 rgba(154,160,185,.5), 0 5px 30px 0 rgba(166,173,201,1);
    box-shadow: 0 5px 5px 0 rgba(154,160,185,.5), 0 5px 30px 0 rgba(166,173,201,1);
    overflow: hidden;

    z-index: 1000;
}

.toolbar {
    margin: 0 0;
    background-image: none;
    background-color: #333;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: var(--terminalHeight);
    background-image: linear-gradient(to bottom, #555555, #4c4c4c, #444444, #3b3b3b, #333333);

    width: 100%;

    position: relative;
    display: flex;
}

.toolbarButton {
    grid-row: 1;
    height: calc(var(--terminalHeight) / 2);
    width: calc(var(--terminalHeight) / 2);
    border-radius: 50%;
    margin: .5em 0.2em;
    line-height: 0.9em;
    background-image: linear-gradient(to bottom, #ff8080, #ff6f6e, #ff5e5b, #ff4a48, #ff3333);
    user-select: none;

    font-weight: 500;
}
.toolbarButton:nth-child(1) {
    cursor: pointer;
    margin-left: 0.5em;
}
.toolbarButton:nth-child(1):hover {
    background: $color-error;
}
.toolbarButton:nth-child(1):active {
    transform: scale(0.9);
}
.toolbarButton:not(:nth-child(1)) {
    background-image: linear-gradient(to bottom, #888888, #7f7f7f, #777777, #6e6e6e, #666666);
}

.draggable {
    overflow: hidden;
    display: block;
    position: absolute;

    cursor: move;

    z-index: 1001;
}

.currentUser {
    display: inline-block;
    color: white;
    margin: 0;
    line-height: calc(var(--terminalHeight) - 0.15em);
    text-align: left;
    margin-left: .75em;
    width: min-content;
    text-align: left;
}

.console {
    background-color: #300A24;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;

    height: calc(100% - var(--terminalHeight));
    margin: 0 auto;
    padding: 0.25rem;
    padding-bottom: 1rem;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}

.userPrefix {
    text-align: left;
    display: inline-block;
    color: #95d73f;
    padding-right: 0.5rem;
}
.line {
    margin-left: 0.5rem;
    text-align: left;
    word-wrap: break-word;
    color: white;

    line-height: 1.5em;
}

.line:last-child {
    padding-bottom: 1rem;
}

.bottomDiv {
    margin-top: 0.75rem;
}

.consoleInput {
    display: inline;
    color: $color-text-secondary;
    background-color: transparent;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
    caret-color: white;
}

.error {
    color: $color-error;
}
.info {
    color: $color-primary;
}